.DS_store*
*~
*.dSYM
*.o
*.so
#*
*.root
*.txt
*gperftoolsProfiles*
*.png
*cachegrind.out*
*callgrind.out*
*.py
*.dat
*#
*.temp
*.DS_Store
*.C
Makefile*
CMakeFiles/
*.sh
*.cmake
*.json
cat *.s

definingThermalCut/defineThermalCut
definingThermalCut/plotDefineThermalCut
examineCoherentlySummedWaveforms
makeDecimatedDataQualityTrees
makeWaisDataQualityTrees
plotReconstructedDecimated
plotReconstructedMinBias
plotReconstructedWais
reconstructDecimated
reconstructMinBias
reconstructPeaks
templateSelfTriggeredBlast
waisDistributions
